<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= post.ends_at %>
  </p>

  <p>
    <strong>Auciton:</strong>
    <%= post.auciton %>
  </p>

</div>
